{% extends "cpdb_args/args_base.html" %}
{% load static %}
{% block args_body %}
<div class="grid center" data-masonry='{ "fitWidth": true, "itemSelector": ".grid-item", "columnWidth": 50 }'>
    {% for gene in object_list %}
            <div class="card border-secondary mb-3 grid-item" style="min-width: 15rem; max-width: 20rem">
                <a href="{% url 'cpdb_args:args_argene' gene.pk %}"><div class="card-header">{{gene.name}}</div></a>
                <div class="card-body text-secondary">
                    <!--<h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <ul>
                        <li>here we will have some gene stats, no. of primers etc..</li>
                    </ul>
                </div>
            </div>

    {% empty %}
        <p style="min-width: 15rem;">Well apparently we have no data on this:(</p>
    {% endfor %}
</div>
{% endblock %}