navbar-custom {
    font-color: white !important;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
#about {
    margin-top: 100px;
    margin-bottom: 30px;
}
.logo-home {
    width: 270;
    height: 270px;
    border: none;
    background-color: transparent;

}
