
{% extends "cpdb_core/base.html" %}
{% load static %}
{% block site_body %}
<br/>
<div class="jumbotron" style="padding-bottom: 40px !important">
    
    <!-- <p class="lead">
        Our database contains only analyzed primers from published articles.
    </p> -->
    
    <div class="row">
        <div class="col-md-8">
            <h2><strong>Welcome to the Curated Primers Database</strong></h2>
            <br/>
            <p class="lead lead-custom">CPDb gathers, verifies and compares properties of hundreds of primer pairs published over the years. At the moment, we present primer pairs dedicated to identification of antibiotic resistance genes. In the near future, the database will be extended to include heavy metals resistance and taxonomy marker gene primers.</p>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center;">
            <img src="{% static 'cpdb_core/cpdb_logo2.png' %}" class="img-thumbnail logo-home">
        </div>
    </div>
</div>
<!-- <p>Tutaj można dodać jakiś opis.</p> -->
{% endblock %}
